* {
    box-sizing: border-box;
}

body {
    background-color: PapayaWhip;
}

.navbar-brand {
    position: absolute;
    left: 20px;
    top: 10px;
}

#mainbutton {
    position: absolute;
    right: 20px;
    top: 10px;
}

#navbar-main {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}


@media (min-width: 576px) {
    .navbar {
        height: 60px;
    }
}

@media (max-width: 575px) {
    .navbar {
        height: 120px;
    }
}